<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for speech recognition.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app needs access to speech recognition</string>
	<key>NSCameraUsageDescription</key>
	<string>We need need camera for machine learning inference.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to organize and search your photos.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
